{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Welcome to Proflights limited</h1>
            <p class="lead fw-normal text-white-50 mb-0">Book your dream safari with us</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify"
                <br/><br/>
                Safety First, Safety Always
                <br/><br/>
                Safety is one of our core values and our license to operate. It is ingrained in our operations and practices on the ground and in the air. All employees are committed to upholding our ethos of safety first and safety always.
                Our commitment is to maintain the highest safety standards, foster a Safety Culture throughout our business, and engage in ongoing learning and improvement that ensures a secure environment for all employees and guests.
                <br/><br/>
                Growth for our People
                <br/><br/>
                We take great pride in our employees. Their professionalism, expertise and warm personalities ensure we deliver our services with a caring African touch to the utmost standards.
                Our dedicated and talented staff are not only ambassadors of our airline in every facet of their work but are an integral part of our journey as the Pride of Africa. 
                <br/><br/>
                If you're interested in joining our journey, please visit our recruitment portal below to explore available job opportunities.
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}
